
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=vietnamese"
          rel="stylesheet"/>
    
    <link href="./assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css"/>
    <link  th:href="@{/public/css/style_login.css}"
          rel="stylesheet" type="text/css"/>

    <style type="text/css">
        #signin-page {
            background: url('public/img/credit/8f9f250e-7843-4920-821e-635141926a06.jpg') center center fixed !important;
            background-size: cover !important;
            background-position: center center !important;
            
        }
    </style>
</head>

<body id="signin-page">



    <!--<div class="header-content text-center">-->
        <!--<img alt="SAMSUN VINA" src="public/img/credit/7742dcd3-4080-43b1-a7a9-94b66dedc9db.png"/>-->
    <!---->
    <!--</div>-->
    <!---->
        <!---->
        <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <div class="abcxyz">
    <div class="auth-inner">
        <div class="auth-brand">
            <div class="auth-brand-inner">
                <div class="auth-logo">
                
                </div><div class="auth-name">
                
            </div>
            </div>
        </div>
        <form class="auth-form form deprecated">
            <div class="auth-verify">
                <div class="bcd">
                    <div th:if="${success}" class="alert alert-success"
                         role="alert" th:text="${success}"></div>
                    <p>Chúc mừng bạn đã xác thực Email thành công</p>
                    <a class="btn btn-primary bcs" href="/login">Login</a>
                </div>
            </div>
        </form>
    </div>
    </div>



</body>
</html>
