<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body class="skin-blue sidebar-mini">
<div class="wrapper">
	
	<header th:replace="admin/layout :: header">
	
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside th:replace="admin/layout :: leftbar"></aside>
	
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					

					<div class="box">
						<div class="box-header">
							<h3 class="box-title">LIST CLINIC</h3>
						</div><!-- /.box-header -->
						<div class="box-body">
							<p style="color: red" th:text="${registersucces}"></p>
							<table id="example1" class="table table-bordered table-striped">
									<thead>
								<tr>
									<th style="width: 55px;">Reg Date </th>
									<th style="width: 55px;">Chart No</th>
									<th>Username</th>
									<th>Clinic Name</th>
									<th>Address</th>
									<th>Tel.</th>
									<th>Status</th>
								
								</tr>
								</thead>
								<tbody>
								<tr th:each="user : ${clinic}">
									
									<td th:text="${#dates.format(user.createdDate, 'dd/MM/yyyy')}"></td>
									<td th:text="${user.dentistryNo}"></td>
									<td ><a th:href="@{/admin/{clinicname}/profile(clinicname=${user.account.username})}"><span th:text="${user.account.username}"></span></a></td>
									<td ><a th:href="@{/admin/{clinicname}/profile(clinicname=${user.account.username})}"><span th:text="${user.clinicName}"></span></a></td>
									<td th:text="${user.address}"></td>
									<td th:text="${user.phoneNumber}"></td>
									<td th:text="${user.account.status}"></td>
								</tr>
								</tbody>
							
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
					
					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</section><!-- /.content -->
	</div><!-- /.content-wrapper -->
	<footer th:replace="admin/layout :: footer"></footer>


</div><!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
<script th:src="@{/assets/jQuery/jQuery-2.1.4.min.js}" src="./assets/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
<!-- Bootstrap 3.3.2 JS -->
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}" src="./assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- DATA TABES SCRIPT -->
<script th:src="@{/assets/datatables/jquery.dataTables.min.js}" src="./assets/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<script th:src="@{/assets/datatables/dataTables.bootstrap.min.js}" src="./assets/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
<!-- SlimScroll -->
<script th:src="@{/assets/slimScroll/jquery.slimscroll.min.js}" src="./assets/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script th:src="@{/assets/fastclick/fastclick.min.js}" src="./assets/fastclick/fastclick.min.js" type="text/javascript"></script>
<!-- AdminLTE App -->
<script th:src="@{/public/js/app.min.js}" src="./public/js/app.min.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/public/js/demo.js}" src="./public/js/demo.js" type="text/javascript"></script>
<!-- page script -->
<script type="text/javascript">
    $(function () {
        $('.table').DataTable({
            "paging": true,
        });
    });
</script>
</body>
</html>
